$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "variables.scss";

html,body {
  padding: 0;
  background: white;
  position: absolute; 
  top:0;bottom:0;left:0;right:0;
  overflow-x: hidden;
}

#DetailViewWrapper {
  background: rgba($hotpink,0.2);
  position: fixed;
  top:100px;bottom:0;left:0;right:0;
  height: 100%;
  
  #videoItemYTiFrame { position: static; top: 0;  bottom: 0; left: 0; right: 0; }
}

#MainViewWrapper {
  background: rgba($blu,0.2);
  position: fixed;
  top:100px;bottom:0;left:0;right:0;
  overflow-y: scroll;
  @media screen and (max-width: 768px) {
    position: fixed;
    top:100px;
    left: 0;right: 0;
  }
  a {
    color: black;
    &:hover {
      color: $blu;
    }
  }
  .page-header {
    padding-bottom: 15px;
    margin: 25px 0 20px;
    border-bottom:none;
    .videoItemTitle {
      margin-top:5px;
      margin-bottom:20px;
    }
  }
}


h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

button[id^="Slide"] {
  background: none;
  opacity: 1;
  font-size: 64px;
  position: fixed;
  bottom:0;
  color: $blu;
  &:hover {
    color: $hotpink;
  }
  &:first-of-type {
    left: 0;
  }
  &:last-of-type {
    right:0;
  }
  @media screen and (max-width: 768px) {
    font-size: 42px;
  }
}

#PageNumber {
  position: fixed;
  bottom:20px;
  left:0;right:0;
}

.well {
  background: white;
  border:none;
  border-radius: 4px;
  box-shadow: none;

  &:first-of-type { margin-top: 20px;}
  
  .videoItemTitle,.thumb-img{
    margin-top:4px;
    &:hover {
      color: $hotpink;
      cursor:pointer;
    }
  }
  .thumb-img {
    height: 100%;
    width: 100%;
    &:hover {
      border: 5px solid $hotpink;
    }
  }
}

// me/custom

#NavTitle { 
  color: $blu;
  font-size: 5em;
  font-family: monospace;
  letter-spacing: 4px;
  position: inherit;
  top: 0;
  right: 0;
  text-decoration: none;
}

.description-wrapper {
  .itemDescription {
    position: absolute;
    margin-top: 5px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;

    // display: block; /* Fallback for non-webkit */
    // height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  }
}


hr {
  margin-top: 12px;
  margin-bottom: 8px;
  border: 0;
  border-top: 2px solid black;
}

@media screen and (min-width: 768px) {

}
