<div id="MainViewWrapper" class="container-fluid" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      
      <div class="well" ng-repeat="vi in videoItems | limitTo: 17">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6 col-xs-12">
            <div class="page-header">
              <!-- TITLE anchor tag. submits param(videoId), routes to details page  -->
              <a ng-click="apiCallById(vi.contentDetails.videoId, $index)"> 
                <h2 class="videoItemTitle">{{ vi.snippet.title }}</h2>
              </a>
              <strong class="text-muted">Published on {{ vi.snippet.publishedAt }}</strong>
            </div>
              <!-- <hr style="border-top:3px solid hotpink;" /> -->
            <div class="page-content">  
              <div class="description-wrapper hidden-sm">
                <p class="itemDescription"><big>{{ vi.snippet.description }}</big></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6 col-xs-12">
            <!-- IMG anchor tag. submits param(videoId), routes to details page  -->
            <a ng-click="apiCallById(vi.contentDetails.videoId, $index)">
              <img class="thumb-img img-responsive center-block" src="{{ vi.snippet.thumbnails.high.url }}" />
            </a>
          </div>
        </div>
      </div> <!-- end well -->

    </div>
  </div>
</div>